#history-carousel {
  height: 80vh;
  position: relative;
}

#carousel-inner {
  width: 100%;
  height: 100%;
  padding-left: 2em;
  padding-right: 3em;
  max-height: 100%;
  overflow-y: auto;
}

#prev-button, #next-button {
  position: absolute;
  top: 50%;
  cursor: pointer;
}

#prev-button {
  left: 0;
}

#next-button {
  right: 0;
}
