{% load static %}
<!doctype html>
<html>
  <head>
    <title>Placeholder</title>

    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/requirejs@2.3.5/require.js"></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>

    <script src="{% static 'index.js' %}" type="text/babel"></script>
  </head>
  <body>
    <div class="content"></div>
  </body>
</html>
